export(cluster_em)
export(cluster_em_outlier)
export(confusionMatrix)
export(cluster_plot)
export(matchCluster)
export(normalizedMI)
export(errorRate)
export(trimmed_bic)
import(e1071)
import(mvtnorm)
import(ggplot2)
import(ellipse)
import(grid)
import(doParallel)
importFrom(parallel,makeCluster)
import(foreach)
useDynLib(RobustEM)



